<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.helpshift.plugins.HSPhoneGapPlugin" version="3.0.0">
    
    <name>Helpshift PhoneGap Plugin</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- <js-module src="www/helpshiftpg.js" name="HelpshiftPG">
        <clobbers target="plugins.helpshift" />
    </js-module> -->
    <asset src="www/helpshiftpg.js" target="js/helpshiftpg.js" />

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HelpshiftPG">
                <param name="ios-package" value="HelpshiftPG" />
            </feature>
        </config-file>
    

        <header-file src="src/ios/HelpshiftPG.h" />
        <header-file src="src/ios/Helpshift.h" />

        <source-file src="src/ios/HelpshiftPG.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/libHelpshift.a" framework="true"/>

        <resource-file src="src/ios/HSResources" />

        <!-- HSThemes-->
        <resource-file src="src/ios/HSThemes/HelpshiftConfig.plist" target-dir="Resources/HSThemes" />
        <resource-file src="src/ios/HSThemes/HelpshiftConfigDark.plist" target-dir="Resources/HSThemes" />

        <framework src="CoreGraphics.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="CoreText.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="Foundation.framework" />
        <framework src="UIKit.framework" />
        <framework src="libz.dylib" />
        <framework src="libsqlite3.0.dylib" />

        <info>
        Add this script tag to your index.html:
        &lt;script src="js/helpshiftpg.js"&gt;&lt;/script&gt;
        </info>

    </platform>
</plugin>
